<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>pedidosinternet</name>
	<displayName><![CDATA[Conector con Distrib]]></displayName>
	<version><![CDATA[1.0.3]]></version>
	<description><![CDATA[Módulo creado por hexer]]></description>
	<author><![CDATA[Hexer]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
